footer{
	width:100%;
	background-color: rgba(220,240,220,1);
	display: inline-flex;
	flex-wrap: wrap;
	justify-content: space-around;
	padding-top: 2em;
	margin-top: 100px;
}

footer a {
	text-decoration: none;
	color: black;
}

footer a:hover{
	text-decoration: none;
	color: grey;
}

.block-text p {
	display: inline-flex;
	justify-content: space-around;
	width:100%;
}

.block-text h3{
	text-align: center;
	font-weight: bolder;
}

.fab{
	font-size: 45px;
	color:rgba(54,196,26,1);
}

.fab:hover{
	color: rgba(90,230,60,1);
}